body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: left;
}
.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #cccccc;
}
